@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.m-width-300 {
    width: 300px;
}

.m-height-396 {
    height: 396px;
}
.max-width-592{
    max-width: 592px;
}

.height-100vh {
    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.br-radius-24 {
    border-radius: 24px;
}

.sec-5-red-box{
    bottom: 10%;
    left: 0;
}
.sec-5-image{
    left: 10%;
    bottom: 20%;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px !important;
}
.fs-20{
    font-size: 20px;
}
.fs-56{
    font-size: 56px;
}
.fw-400{
    font-weight: 400;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700 !important;
}
.lh-70{
    line-height: 70px;
}
.pd-10-60{
    padding: 10px 60px 10px 10px;
}
.pd-20-32{
    padding: 20px 32px !important;
}
.gap-10{
    gap: 10px;
}

.sec-5-scard:hover {
    box-shadow: 0px 1px 28px 1px #4747471A;
    border-radius: 24px;
    cursor: pointer;
}
.sec-5-scard:hover path{
    fill: red;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.ml-20{
    margin-left: 20px;
}
.bg-image{
    background-image: url(/assets/image-png/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}